[2020-11-18 04:05] jmgasper opened #1 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-11-18 04:15] jmgasper opened #2 "[$225] Completed payment for initial investigative work"
As discussed via email.

[2020-11-18 04:15] jmgasper commented on #2
Contest https://www.topcoder.com/challenges/30151835 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 20:55] jmgasper commented on #2
Contest https://www.topcoder.com/challenges/30151835 has been updated - it has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 20:55] #2 closed

[2020-11-19 20:55] jmgasper commented on #2
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151835<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-20 06:31] jmgasper opened #3 "[$250] Complete initialization"
@seriyvolk83 - We need to investigate the full initialization flow, basically porting the code here:

https://github.com/topcoder-platform/mobile-sdk/blob/e52ca632d4c6eb3491c0fb9ff5d41dc1eef899f1/Examples/ios/CMeSdkObjc/CMeSdkObjc/VCXHelpers/CMConfig.m#L162

Into our app and refactoring what's already there.  Is that something you have time to help with?

[2020-11-20 06:31] jmgasper commented on #3
Contest https://www.topcoder.com/challenges/30152393 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-20 06:31] jmgasper commented on #3
Contest https://www.topcoder.com/challenges/30152393 has been updated - it has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-21 09:08] seriyvolk83 commented on #3
@jmgasper Can you give an access to the link above?

[2020-11-21 22:06] jmgasper commented on #3
@seriyvolk83 - Sorry for the delay.  Invitation has been sent.

[2020-11-23 18:10] seriyvolk83 commented on #3
Still working. Will probably commit tomorrow.

[2020-11-26 23:29] jmgasper commented on #3
@seriyvolk83 - Anything I can help with here?

[2020-11-27 10:22] seriyvolk83 commented on #3
I ported the code, but the first request returns error:
[code]

I tried the previous code we have and it also not working (but worked to some point before).

[2020-11-27 10:30] seriyvolk83 commented on #3
In ObjC code there are three environments (prod, staging, sandbox). I used `.staging`.

Also, I cannot find one method that is called before all SDK calls:
[code]
I think it's not needed, because in other examples there were only `.agentProvisionAsync` and `.initWithConfig` calls.

[2020-11-28 00:44] jmgasper commented on #3
@seriyvolk83 - Thanks for that.  I checked in a change to get past that initial blocker.  Can you double check please?

Here's what I see now:
[code]

[2020-11-29 09:25] seriyvolk83 commented on #3
I removed
[code]
from the config and it started working normally.

I added code that allows to reuse same `walletName` (you need to update `savedWalletKey` value with generated key).

But, I don't know why you have `Error Code while adding new vcxConfig: -25299` error.
Probably something wrong with these Keychain settings:
[code]

Try again the updated code and if error will still occur, then try

[2020-11-30 00:56] jmgasper commented on #3
@seriyvolk83 - Ok, thanks.  I think this is fine for now.

[2020-11-30 00:56] #3 closed

[2020-11-30 00:56] jmgasper commented on #3
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30152393<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 00:59] jmgasper opened #6 "[$100] Investigate keychain setup"
@seriyvolk83 - We need to do some stuff with the keychain:

### Save wallet key

The wallet key needs to be saved and reused, if it exists, instead of hard-coding it.  It should be generated once, saved, and then used.

### Investigate -25299 error

I see a `-25299` error from this code:

[code]

Error description:  https://osstatus.com/search/results?platform=all&framework=all&search=-25299

###

[2020-11-30 00:59] jmgasper commented on #6
Contest https://www.topcoder.com/challenges/30154484 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 00:59] jmgasper commented on #6
Contest https://www.topcoder.com/challenges/30154484 has been updated - it has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 01:02] jmgasper opened #7 "[$600] Investigate API integration"
@seriyvolk83 - We can start to look at some of the actual app functionality.

From the original iOS challenge spec:

`Scan QR code and send Connection request using Verify SDK`

Can we see if we can do this please?  The Topcoder API is hosted at https://universal-identity-api.herokuapp.com

[2020-11-30 01:02] jmgasper commented on #7
Contest https://www.topcoder.com/challenges/30154485 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 01:02] jmgasper commented on #7
Contest https://www.topcoder.com/challenges/30154485 has been updated - it has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 23:38] #6 closed

[2020-11-30 23:38] jmgasper commented on #6
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154484<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 15:03] seriyvolk83 commented on #7
Seems connection using an invitation from QR code works. But the status of the connection I created manually from postman is still pending `curl --location --request GET 'https://universal-identity-api.herokuapp.com/connections/c14aa20f-59f2-41f1-b402-df0fe23cde19'`

I did the following:
1. Created relation in postman (actually there was one there already) -> `inviteURL`
2. Created QR code using `

[2020-12-03 15:04] seriyvolk83 commented on #7
May be the created connection should appear in `curl --location --request GET 'https://universal-identity-api.herokuapp.com/connections?page=1&perPage=20'` (I don't know), but I don't see any new connections there.

[2020-12-03 22:19] kylewu commented on #7
@seriyvolk83 Please create a new Relationship.
I did one test with a new Relationship and seems it works

[2020-12-03 22:55] jmgasper commented on #7
@kylewu - I just went through the steps that @seriyvolk83  outlined, with a new relationship.  I saw the same problem.  How did you test?

[2020-12-03 22:58] kylewu commented on #7
here is the step i test
- Create one relationship https://github.com/topcoder-platform/evernym-api/blob/master/Verification.md#create-a-relationship
- Create one Connection https://github.com/topcoder-platform/evernym-api/blob/master/Verification.md#create-
a-connection
- Use Connect.me app, scan the qr code and confirm connection
- Search Connection and the new connection is active

[2020-12-04 02:32] jmgasper commented on #7
@seriyvolk83 - One other suggestion to investigate from @kylewu :

Are you connecting to staging network? This is the only thing i could imagine (edited)

https://github.com/topcoder-platform/mobile-sdk/blob/master/2.%20Initialization.md#ledger poolTxnGenesis (edited)

[2020-12-04 13:16] seriyvolk83 commented on #7
@kylewu

These steps involve another app - Connect.me.
With Connect.me app all worked even without the changes in the backend that was done a couple days/weeks ago.

We need to use our app. Our app is used to scan the invitation QR code and uses the invitation JSON to call the SDK.

If we use our app, the connection does not change status from "pending" (or not appear in the list). Seems that topc

[2020-12-04 14:06] seriyvolk83 commented on #7
@jmgasper I updated genesis file with one from https://github.com/sovrin-foundation/connector-app/blob/master/app/store/config-store.js (`[SERVER_ENVIRONMENT.STAGING]`).
And also tried to call `connectionUpdateState` after "connection with invitation" is successfully called. It returns error 1003 (invalid handle).

I'm not sure what is the correct sequence of calls after `sdkApi.initWithConfig`, I

[2020-12-04 14:06] seriyvolk83 commented on #7
I'm not sure there this hardcoded value goes:
[code]
it's taken from ObjC code.

[2020-12-04 14:40] seriyvolk83 commented on #7
@jmgasper The connection issue resolved. The changes are in my last commit (see MR).

Now the connection in postman changes the state from `pending` to `active`.

[2020-12-04 21:07] jmgasper commented on #7
@seriyvolk83 - Confirmed it's working for me, thanks!

[2020-12-04 21:07] #7 closed

[2020-12-04 21:07] jmgasper commented on #7
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154485<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 21:21] jmgasper opened #11 "[$450] Issue credentials and confirm in app"
@seriyvolk83 - The next step of the app is to be able to:

* Issue a credential in the API
* Reply in the app

There are APIs in the Heroku app to issue credentials for a given connection.

In the app we should be able to confirm and see the credential change from `pending` in the API (if I'm understanding everything right)

I've created a credential definition for testing:

[code]

And we can POS

[2020-12-04 21:22] jmgasper commented on #11
Contest https://www.topcoder.com/challenges/30155955 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 21:22] jmgasper commented on #11
Contest https://www.topcoder.com/challenges/30155955 has been updated - it has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-06 18:13] seriyvolk83 commented on #11
The credentials should be issued after user connected.

[2020-12-07 01:31] jmgasper commented on #11
@seriyvolk83 - Worked well, thanks!

[2020-12-07 01:31] #11 closed

[2020-12-07 01:32] jmgasper commented on #11
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155955<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-09 10:59] jmgasper opened #13 "[$150] Setup for App Center"
@seriyvolk83 - We'd like to get this built via App Center.  I've asked you to be invited to our organisation so we can start that investigation.  Once that's done, let me know what you need so we can get this building there and get a good CI/CD flow going, thanks.

[2020-12-09 10:59] jmgasper commented on #13
Contest https://www.topcoder.com/challenges/30156871 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-09 10:59] jmgasper commented on #13
Contest https://www.topcoder.com/challenges/30156871 has been updated - it has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-09 18:46] seriyvolk83 commented on #13
I should receive an email with invitation, correct?

[2020-12-09 19:48] jmgasper commented on #13
@seriyvolk83 - Correct.  I just asked for a status update on the request.

[2020-12-10 21:05] jmgasper commented on #13
@seriyvolk83 - Any update here?

[2020-12-11 08:35] seriyvolk83 commented on #13
Now it can be distributed:

[code]

[2020-12-12 04:58] #13 closed

[2020-12-12 04:58] jmgasper commented on #13
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156871<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-18 08:50] jmgasper opened #15 "[$100] Investigate new error"
@seriyvolk83:

With the latest code in Github, we're seeing this error when running the app.  Any thoughts on why that might be?  It wasn't doing that for me previously, and I don't see any changes that could affect this.

[code]

<img width="616" alt="Screen Shot 2020-12-18 at 7 47 24 pm" src="https://user-images.githubusercontent.com/21790/102594366-3404ca00-416a-11eb-8cab-2693a34f29df.png">

[c

[2020-12-18 08:50] jmgasper commented on #15
Contest https://www.topcoder.com/challenges/30159064 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-18 08:50] jmgasper commented on #15
Contest https://www.topcoder.com/challenges/30159064 has been updated - it has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-19 09:13] seriyvolk83 commented on #15
That's very strange. The only difference is Bundle ID. I tried different bundle IDs and some of them work fine, and some fails with 1025 error.

Work fine:
com.topcoder.EvernymApp
com.topcoder.Evernym
com.topcoder.Ever

Not work:
com.topcoder.ios.evernym-wallet
com.topcoder.EvernymB
com.topcoder.EvernymC
com.topcoder.EvernymA
com.topcoder.EvernymAp

Seems any prefix for `com.topcoder.EvernymApp` w

[2020-12-20 01:45] jmgasper commented on #15
@seriyvolk83 - Thanks for that.  I've been chatting with Evernym support, and I've sent this along.  That doesn't make much sense to me, but hopefully they can clarify a bit what we have to do to fix it.

[2020-12-20 01:45] #15 closed

[2020-12-20 01:45] jmgasper commented on #15
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159064<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-22 05:02] jmgasper opened #16 "[$400] Further debugging help"
@seriyvolk83 - I've been back and forth with evernym support, and they aren't super helpful.  Can you mess around with the info below and let me know if you can find anything else out please, when you have some time?

We are glad that you reached out. I'm just trying to ensure I have all the information as I got confused by your statement about the bundle names changing the behavior you were seein

[2020-12-22 05:02] jmgasper commented on #16
Contest https://www.topcoder.com/challenges/30159708 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-22 05:02] jmgasper commented on #16
Contest https://www.topcoder.com/challenges/30159708 has been updated - it has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 14:33] seriyvolk83 commented on #16
They are not used. I cleaned up the code from old attempts to configure the library.

I added "Evernym Demo Agency" configuration in `CMConfig.swift` (`environment = .sandbox`) and in `DemoPoolTxnGenesis.swift`,
and added default logger.

I think the problem may be in `"pool_name": "7e96cbb3b0a1711f3b843af3cb28e31dcmpool",` that we add in line 222 (`CMConfig.swift`). I don't remember where we take

[2020-12-24 03:10] jmgasper commented on #16
@seriyvolk83 - Thanks for that.  According to the configuration docs here: https://github.com/topcoder-platform/mobile-sdk/blob/master/Configuration.md , the `pool_name` is optional.  I removed it completely and it still threw the 1025 error.

Do we still think this may be associated with the app ID?

[2020-12-24 03:13] jmgasper opened #18 "[$1000] Must be completed by 30/12 -- App UI updates"
@seriyvolk83 - I'd like to update the UI a bit to be closer to connect.me (screenshots attached), as best we can.  I know some stuff may not be fully implemented, but if we can get a bunch done before 30/12, that would be good.  I just have to make sure this is done and paid by 31/12 at the latest.

The UI can be quick and dirty, but a little more user friendly and navigable than we have now.  If

[2020-12-24 03:13] jmgasper commented on #18
Contest https://www.topcoder.com/challenges/30160180 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-24 03:13] jmgasper commented on #18
Contest https://www.topcoder.com/challenges/30160180 has been updated - it has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-24 03:18] jmgasper commented on #16
I've sent the latest logs to the client, but they were pretty clear we may not hear back until the second week of January, due to the holidays.  🤷

[2020-12-24 08:34] seriyvolk83 commented on #16
I think it's may be not due to Bundle ID, but something that was cached in a keychain internally in the app (the only place that is persistent even after app deletion), or it's another persistent storage that is related to Bundle ID.

I deleted the app and launched it with `Bundle ID: com.topcoder.EvernymApp` and the following wallet (for `.staging` env and `pool_name` and `protocol_version` remov

[2020-12-24 10:34] seriyvolk83 commented on #16
I tried to run the same code (without any change) in other simulator and it fails with 1025 error. It's definitely something is cached for my app on iPhone Pro simulator that results in success `sdkApi.initWithConfig` invocation. Removing the app does not help - it still succeed.

[2020-12-27 04:42] #16 closed

[2020-12-27 04:43] jmgasper commented on #16
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159708<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-28 00:50] jmgasper commented on #18
@seriyvolk83 - Just checking in here that you have what you need.

[2020-12-28 06:31] seriyvolk83 commented on #18
I think so. I implemented almost all screens, but most of the logic will be simulated to demonstrate the functionality - push notifications, proof generation, credentials offer. Fortunately, the app successfully initialize the lib when launched on a real device and scanning new connections work.

The data will be stored in memory for now (correct?) and will be reset if the app is relaunched.

[2020-12-28 06:37] jmgasper commented on #18
Sure, that should be fine, thanks.

[2020-12-29 10:26] seriyvolk83 commented on #18
Done.
QR code scanning works fine if the library is successfully initialized - you can check that by the color of "Scan QR code" button in right top corner of "My Connections" screen. red - initialization not completed or failed (check console logs), green - library initialized.
I tested on a real device and connection is added successfully after scanning. To simulate connection creation the app a

[2020-12-29 23:48] jmgasper commented on #18
@seriyvolk83 - Looks good, thanks.

This is where we're headed with the design - I hope to have a new ticket and Sketch files for you later today.  If you see anything here that may be a problem, please let me know.

https://marvelapp.com/prototype/5ig7b8c

[2020-12-29 23:48] #18 closed

[2020-12-29 23:48] jmgasper commented on #18
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160180<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-29 23:49] jmgasper opened #21 "[$700] App UI updates"
As discussed, here's where we're headed:

https://marvelapp.com/prototype/5ig7b8c

Sketch files to be added soon.

Please make sure we test on both light and dark modes, and small phones down to the SE.  Current UI doesn't always scale well or look good:

![Screen Shot 2020-12-30 at 10 47 50 am](https://user-images.githubusercontent.com/21790/103321213-a9d33480-4a8c-11eb-892b-39c9d89fcd73.png)

[2020-12-29 23:49] jmgasper commented on #21
Contest https://www.topcoder.com/challenges/30160852 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-29 23:49] jmgasper commented on #21
Contest https://www.topcoder.com/challenges/30160852 has been updated - it has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-30 03:35] jmgasper commented on #21
Sketch files:
https://www.dropbox.com/s/08omi9yiwp0shek/Deliverables-20201230T033304Z-001.zip?dl=1

[2020-12-30 22:54] jmgasper commented on #21
@seriyvolk83 - Can you confirm that this looks reasonable and the payment is alright please?  I'll close this out so it gets paid by the end of the year, even if the actual work isn't done for a few days, thanks.

[2020-12-30 22:58] seriyvolk83 commented on #21
I think it's fine.

[2020-12-30 23:04] #21 closed

[2020-12-30 23:04] jmgasper commented on #21
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160852<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:29] jmgasper commented on #21
@seriyvolk83 - How's this one coming?

[2021-01-06 11:13] seriyvolk83 commented on #21
I will complete in a day.

[2021-01-07 19:45] seriyvolk83 commented on #21
https://github.com/topcoder-platform/evernym-tc-wallet/pull/22

all done, but some UI elements differ due to simulated functionality.

Also, I didn't check the UI for smaller screens (iPhone 5SE. Will do that soon)

[2021-01-08 00:03] jmgasper commented on #21
@seriyvolk83 - Looks good, thanks!

[2021-01-09 08:32] seriyvolk83 commented on #21
I checked, and it's ok on iPhone SE too.

[2021-01-09 21:02] jmgasper commented on #21
Great, thanks!  I'm chatting with Topcoder here about what our next steps will be going forward.  I'd like to get a full end-to-end demo done using the dev site.

[2021-01-27 06:13] jmgasper opened #23 "[$600] Demo flow"
@seriyvolk83 - I'd like to get the current mobile app fixed up so that we can go through the "proper" flow with the remote API:

### Initial flow
1.  Set a passcode (actually saved to the keychain and validated)
1.  Initialise the wallet
2. Establish the relationship (universal identity API)
3. Create a connection using the relationship (universal identity API)
4. Scan the QR code to establish the

[2021-01-27 06:13] jmgasper commented on #23
Challenge https://www.topcoder.com/challenges/b06c9cfd-e402-4b1e-a4f4-e702346ad8ec has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 06:13] jmgasper commented on #23
Challenge https://www.topcoder.com/challenges/b06c9cfd-e402-4b1e-a4f4-e702346ad8ec has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 06:15] jmgasper opened #24 "[$60] Allow user to cancel out of QR reader"
Right now, when the camera shows the screen to scan a QR code, the user is "stuck" there with no way to cancel out of scanning.  We need to make sure the user can leave the scanning screen and go back.

[2021-01-27 06:15] jmgasper commented on #24
Challenge https://www.topcoder.com/challenges/f3220e2c-632a-4c55-a3f7-e617083a075c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 06:15] jmgasper commented on #24
Challenge https://www.topcoder.com/challenges/f3220e2c-632a-4c55-a3f7-e617083a075c has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 06:34] jmgasper opened #25 "[$400] Encapsulate wallet code"
@seriyvolk83 - One thing we'd like to do is turn the general wallet code into a Cocoapod so that others could potentially build our wallet into their own apps.

We can start that work now and pull the code out of this repo, separating the UI from the "wallet".

New repo for the wallet:

https://github.com/topcoder-platform/mobile-wallet

[2021-01-27 06:34] jmgasper commented on #25
Challenge https://www.topcoder.com/challenges/ae54dfd3-3fff-4395-9085-4d74f4700edf has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 06:34] jmgasper commented on #25
Challenge https://www.topcoder.com/challenges/ae54dfd3-3fff-4395-9085-4d74f4700edf has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 22:51] jmgasper opened #26 "App flow updates"
Currently, on app launch, we validate the user's passcode / FaceID and then go right into the wallet itself.

Now we want to change navigation a bit:

* In the left menu, we'll add `Wallet` and `Topcoder`
* On initial login we'll go right into the app - initial view should just be a basic tutorial
* When the user selects `Wallet`, *then* we will initialise the wallet, if not already done
* When th

[2021-01-27 22:59] jmgasper opened #27 "[$200] Integrate TC Login"
@seriyvolk83 - We're going to rework the UI a bit, but for now we can just integrate the Topcoder login piece:

* Let's add a `Topcoder` option to the burger menu on the left

We can currently have that option just launch the login flow and store the token in the keychain.  That will at least help us verify that this piece works and we can start to use the token later.

### Details

* Currently we

[2021-01-27 22:59] jmgasper commented on #27
Challenge https://www.topcoder.com/challenges/bd1f5be0-84b7-4871-9cac-7537b9c12af9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 22:59] jmgasper commented on #27
Challenge https://www.topcoder.com/challenges/bd1f5be0-84b7-4871-9cac-7537b9c12af9 has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 23:20] jmgasper opened #28 "[$200] Amazon analytics setup"
@seriyvolk83 - We're going to start to integrate analytics into the app as well:

https://docs.amplify.aws/start/getting-started/setup/q/integration/ios
https://docs.amplify.aws/lib/analytics/getting-started/q/platform/ios#initialize-amplify-analytics

We want to track things like:

* Number of Installs
* Number of Logins
* Number of listing views (TC challenges - upcoming)
* Number of detail view

[2021-01-27 23:20] jmgasper commented on #28
Challenge https://www.topcoder.com/challenges/f62a9730-9c68-4237-b8de-742183e875cc has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 23:20] jmgasper commented on #28
Challenge https://www.topcoder.com/challenges/f62a9730-9c68-4237-b8de-742183e875cc has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-28 15:08] seriyvolk83 commented on #25
I cannot pull the related pods for `vcx` library:
[code]

Should the library depend on VCX via cocoapods or we can put the framework as a part of the new library?

[2021-01-28 22:46] fajarmln commented on #26
For information, design updates is on progress and we will get the initial design on this weekend

[2021-01-29 00:47] jmgasper commented on #25
@cwdcwd - Can we mirror this somehow?  Not sure what the best solution is here.  I'd be fine with just including VCX, but not sure if that's "allowed" by Evernym.

[2021-01-29 01:00] #24 closed

[2021-01-29 01:00] jmgasper commented on #24
Payment task has been updated: https://www.topcoder.com/challenges/f3220e2c-632a-4c55-a3f7-e617083a075c
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `f3220e2c-632a-4c55-a3f7-e617083a075c` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-29 01:43] cwdcwd commented on #25
I'll reach out to evernym and confirm

[2021-01-29 01:54] jmgasper commented on #25
@seriyvolk83 - For the short term, lets just include the libs in the pod.  That'll be easiest.

[2021-01-29 20:20] seriyvolk83 commented on #25
Two MR - for the app and the new library.
For now, you need to clone the library locally and edit `Podfile` and point to the library path, then `pod install`.

[2021-01-29 21:21] seriyvolk83 commented on #25
I will update #23 tomorrow. To launch you will need to tweak the wallet name/key. So, for this issue you can just check if the app is compiled against real device.

The wallet name/key need to be stored and seems will always be related to specific device because when I launch example app and this app with the same configuration (and wallet) it says that wallet already exist.

[2021-01-30 00:23] #25 closed

[2021-01-30 00:23] jmgasper commented on #25
Payment task has been updated: https://www.topcoder.com/challenges/ae54dfd3-3fff-4395-9085-4d74f4700edf
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `ae54dfd3-3fff-4395-9085-4d74f4700edf` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-30 16:15] seriyvolk83 commented on #23
Done.
Wallet will be generated during first launch.

Library initialization takes some time (about 20-30 seconds), and I added a loading indicator to "Connections" screen to indicate that. Once it's done, user will see an alert.

It works for `.staging` configuration. Yesterday it also worked for `.demo` (see `// Configure wallet (UNCOMMENT .staging or .demo)` in `AppDelegate.swift`. But in the mo

[2021-01-31 06:10] #23 closed

[2021-01-31 06:11] jmgasper commented on #23
Payment task has been updated: https://www.topcoder.com/challenges/b06c9cfd-e402-4b1e-a4f4-e702346ad8ec
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `b06c9cfd-e402-4b1e-a4f4-e702346ad8ec` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-31 14:56] seriyvolk83 commented on #28
Amplify CLI requires some credentials (see https://docs.amplify.aws/cli/start/install ).

Can you provide them? (`<USERNAME>`, `<ACCESS_KEY>` and `<SECRECT_ACCESS_KEY>`)

[2021-01-31 14:58] seriyvolk83 commented on #28
Also, as I remember, the target project should be "based on Amplify" on AWS. There was something with the way the projects are organized in AWS and there is no way to reuse existing "project" (or app) with Amplify, it should be created initially using Amplify CLI.

[2021-01-31 15:05] seriyvolk83 commented on #28
Can you clarify when these events happen in the app? And what information to post along with the related event (IDs, etc.)?

[2021-02-01 00:28] jmgasper commented on #28
We don't have these yet - they'll be upcoming.  No need to worry about them here.

[2021-02-01 00:30] jmgasper commented on #28
Checking on this - we had discussed internally last week that TC was going to provide ASAP.

[2021-02-01 06:33] fajarmln commented on #26
Design is updated:

- Marvel Link: https://marvelapp.com/prototype/5ig7b8c

- Storyboard Updates: https://drive.google.com/drive/folders/1HJXDbA8vG5c5Qp7c11gpDGJ7bMr3lXIk?usp=sharing

[2021-02-01 21:39] jmgasper commented on #26
@fajarmln - This looks really good, thanks.  Feel free to close this out on your end so yourself and the designer get paid!

[2021-02-01 21:39] #26 closed

[2021-02-01 21:41] jmgasper opened #33 "[$400] Integrate updated UI"
Now we want to change navigation a bit:

* In the left menu, we'll add `Wallet` and `Topcoder`
* On initial login we'll go right into the app - initial view should just be a basic tutorial
* When the user selects `Wallet`, *then* we will initialise the wallet, if not already done
* When the user selects `Topcoder` they will get additional options for `Login` and `Challenges`
  * When the user sele

[2021-02-01 21:41] jmgasper commented on #33
Challenge https://www.topcoder.com/challenges/3dd462cf-c934-4568-8a08-39f0e51a14a1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-01 21:41] jmgasper commented on #33
Challenge https://www.topcoder.com/challenges/3dd462cf-c934-4568-8a08-39f0e51a14a1 has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-04 22:36] #27 closed

[2021-02-04 22:37] jmgasper commented on #27
Payment task has been updated: https://www.topcoder.com/challenges/bd1f5be0-84b7-4871-9cac-7537b9c12af9
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `bd1f5be0-84b7-4871-9cac-7537b9c12af9` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-04 22:37] jmgasper opened #34 "Fix PR"
As mentioned here, we need to make some updates to accomodate changes I had to make for CI/CD:

https://github.com/topcoder-platform/evernym-tc-wallet/pull/32

[2021-02-05 10:20] seriyvolk83 commented on #28
I added code to post the following events only:
[code]

I cannot setup Amplify on AWS because something is missing. One need to run `amplify configure` then `amplify init` in from the project directly  and setup AWS account properly.

During `amplify configure` one need to login on AWS and create a user (wizard will redirect to correct form).
Once it's done, you will have `~/.aws/*` files filled p

[2021-02-05 10:20] seriyvolk83 commented on #28
Without `amplify` confirmed, the app will log the following when launched on a device:
[code]

`amplifyconfiguration.json` and other configs should appear after success amplify initialization.

[2021-02-05 10:29] seriyvolk83 commented on #34
Sorry for delay with PR fix, I was in the middle of #28 implementation and decided complete it first.

[2021-02-05 10:49] seriyvolk83 commented on #27
@jmgasper This was not paid.

[2021-02-06 01:14] jmgasper commented on #28
@cwdcwd - Can you help with the above please?  Looks like we need another IAM role added:

https://github.com/aws-amplify/amplify-js/issues/3264

[2021-02-06 01:18] jmgasper commented on #27
@seriyvolk83 - Sorry, fixed.

[2021-02-06 19:50] #34 closed

[2021-02-08 16:44] seriyvolk83 commented on #33
In progress. I will complete it tomorrow.

[2021-02-08 20:23] jmgasper commented on #33
Great, thanks for the update.

[2021-02-09 17:18] seriyvolk83 commented on #33
Challenges page is shown by opening https://www.topcoder.com/challenges in embedded web view.

I didn't implement it yet. If you want it to be controls in native app that will update the web content, then I need some details how to apply filter by modifying URL (GET parameters).

Empty Home page in updated design differs from what we have in the app. Should I update it too? What to do when user ta

[2021-02-09 17:19] seriyvolk83 commented on #33
Tutorial after login is shown every time user logs in (or opens the app after it's suspended). Should it be shown only once (when completed, it will not appear any more)?

[2021-02-10 05:33] jmgasper commented on #28
@seriyvolk83 - Closing this for now, we'll open stuff later if we need to tweak.

[2021-02-10 05:33] #28 closed

[2021-02-10 05:33] jmgasper commented on #28
Payment task has been updated: https://www.topcoder.com/challenges/f62a9730-9c68-4237-b8de-742183e875cc
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `f62a9730-9c68-4237-b8de-742183e875cc` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-10 05:37] jmgasper opened #37 "[$40] Tutorial only once"
From #33:

Let's just show this once, at the first time the app starts after install.

[2021-02-10 05:37] jmgasper commented on #37
Challenge https://www.topcoder.com/challenges/831ac95c-becb-44fd-b529-c10758a4fbfc has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-10 05:37] jmgasper commented on #37
Challenge https://www.topcoder.com/challenges/831ac95c-becb-44fd-b529-c10758a4fbfc has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-10 05:51] jmgasper commented on #33
@seriyvolk83 - One question here:

Can we use the Auth0 login to also login in the web view?  So, if I login using the `Topcoder` option, can I *also* be logged in in the web view?  That'll keep us from having redundant logins.

[2021-02-10 05:53] jmgasper opened #38 "[$200] Analytics capture"
@seriyvolk83 - With the web view, can we capture these in analytics?

- Number of listing views for challenges
- Number of detail views for challenges
- Number of registrations for challenges

We'd just need to create an event for each of these when they happen in the app and then we can aggregate them in AWS / Amplify.

[2021-02-10 05:53] jmgasper commented on #38
Challenge https://www.topcoder.com/challenges/92e6f70c-beff-4bf3-a8a7-4299cdb48030 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-10 05:53] jmgasper commented on #38
Challenge https://www.topcoder.com/challenges/92e6f70c-beff-4bf3-a8a7-4299cdb48030 has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-11 19:10] seriyvolk83 commented on #33
Seems it's possible only if we open `https://accounts-auth0.topcoder.com/#!/member?retUrl=http://www.topcoder.com/` in embed web view. But, in this case the process of authentication is out of control. We cannot check if user logged in or not, the tokens are unavailable.

I tried to use "Lock" framework that allows to embed Login form, but it just native UI that does the same what Safari login for

[2021-02-11 19:11] seriyvolk83 commented on #33
Try the app with the web view (last PR).

On other side, we can use credentials to call Auth0 API, and seems we can use them to call topcoder API to pull the content, but it's another story where content should be rendered natively.

[2021-02-12 06:21] jmgasper commented on #33
Worked with the latest PR.

[2021-02-12 06:21] #33 closed

[2021-02-12 06:22] jmgasper commented on #33
Payment task has been updated: https://www.topcoder.com/challenges/3dd462cf-c934-4568-8a08-39f0e51a14a1
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `3dd462cf-c934-4568-8a08-39f0e51a14a1` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 06:22] jmgasper opened #41 "[$75] Fix dark mode"
The current dark mode UI is a bit hard to read in spots, particularly the side menu,

![Screen Shot 2021-02-12 at 5 22 14 pm](https://user-images.githubusercontent.com/21790/107736721-ddc19b00-6d56-11eb-87fa-1e52477e19e7.png)

Can we fix the font colouring in dark mode so that the UI is easier to read please?

[2021-02-12 06:22] jmgasper commented on #41
Challenge https://www.topcoder.com/challenges/3af655ca-995e-4492-957f-223704ee5e58 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 06:24] jmgasper commented on #41
Challenge https://www.topcoder.com/challenges/3af655ca-995e-4492-957f-223704ee5e58 has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 06:31] #37 closed

[2021-02-12 06:32] jmgasper commented on #37
Payment task has been updated: https://www.topcoder.com/challenges/831ac95c-becb-44fd-b529-c10758a4fbfc
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `831ac95c-becb-44fd-b529-c10758a4fbfc` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 06:33] jmgasper opened #42 "[$50] Passcode prompt on first run vs. all other runs"
When asked to put in a PIN, we should only say `Set a passcode to secure` the first time the app is opened.  *After* that, we should prompt the user to `Enter your passcode to continue`.
![IMG_0537](https://user-images.githubusercontent.com/21790/107737381-6a208d80-6d58-11eb-9937-610025079d87.PNG)

[2021-02-12 06:33] jmgasper commented on #42
Challenge https://www.topcoder.com/challenges/1d734fcd-e742-4b01-b98d-8703d08dd156 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 06:34] jmgasper commented on #42
Challenge https://www.topcoder.com/challenges/1d734fcd-e742-4b01-b98d-8703d08dd156 has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 06:40] jmgasper opened #43 "[$300] Amplify setup for Appcenter"
We need to continue to build the app in AppCenter, but we want to keep the Amplify config files out of Github, since this is a public repo.  Just looking for suggestions on how best to handle that.

[2021-02-12 06:40] jmgasper commented on #43
Challenge https://www.topcoder.com/challenges/a42f9004-6172-4c0b-999a-291e5c83da4b has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 06:40] jmgasper commented on #43
Challenge https://www.topcoder.com/challenges/a42f9004-6172-4c0b-999a-291e5c83da4b has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 08:32] seriyvolk83 commented on #43
We should not add amplify files into the repository. I tried to uncomment the configs in .gitignore, but after `amplify pull`.gitignore was updated to ignore all amplify files.

I found the following example related to automation of some amplify task on appcenter: https://github.com/aws-amplify/amplify-cli/issues/2140

Seems we need to make something like the last posted script that will install a

[2021-02-12 08:34] jmgasper commented on #43
@cwdcwd ☝️ Any preference?

[2021-02-12 08:52] seriyvolk83 commented on #43
@jmgasper Can you check if some events appear in the analytics console? I don't have access to it and not sure if events reach AWS Pinpoint backend or not.

[2021-02-12 09:07] jmgasper commented on #43
I don’t have access either.  I asked @cwdcwd to confirm

[2021-02-12 09:35] seriyvolk83 commented on #38
Event can be detected and posted.

Event can detected indirectly only because the details page is opened using javascript and there is no actually page loading (events can be captured only when there is some navigation in `webView`). But, seems there is some statistic or banner loading with URLs like `https://s7.addthis.com/static/sh.f48a1a04fe8dbf021b4cda1d.html#rand=0.7861518621589472&iit=161312

[2021-02-12 09:38] seriyvolk83 commented on #38
Challenge List event:
[code]

Challenge Details event:
[code]

[2021-02-12 09:55] seriyvolk83 commented on #38
Cannot detect that because it's totally JS action.

[2021-02-12 18:34] seriyvolk83 commented on #42
The 3rd case is when user updates the pin code from settings. The title will be "Enter a new passcode".

[2021-02-13 02:38] #42 closed

[2021-02-13 02:39] jmgasper commented on #42
Payment task has been updated: https://www.topcoder.com/challenges/1d734fcd-e742-4b01-b98d-8703d08dd156
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `1d734fcd-e742-4b01-b98d-8703d08dd156` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-13 02:39] jmgasper commented on #41
Payment task has been updated: https://www.topcoder.com/challenges/3af655ca-995e-4492-957f-223704ee5e58
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `3af655ca-995e-4492-957f-223704ee5e58` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-13 02:41] jmgasper commented on #38
@cwdcwd - See above for capturing listing view and registration.  Is there a better way to do this?  Can we somehow determine if the action is from the mobile app using the already-in-place analytics on the site?

[2021-02-13 03:02] cwdcwd commented on #38
@ajefts can this be done with existing analytics?

[2021-02-15 09:01] seriyvolk83 commented on #41
@jmgasper Seems it was not paid.

[2021-02-15 09:45] jmgasper commented on #41
Challenge https://www.topcoder.com/challenges/f5453ad4-0526-465c-85f0-2f9a5a4a7983 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-15 09:45] jmgasper commented on #41
Challenge https://www.topcoder.com/challenges/f5453ad4-0526-465c-85f0-2f9a5a4a7983 has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-15 09:45] #41 closed

[2021-02-15 09:46] jmgasper commented on #41
Payment task has been updated: https://www.topcoder.com/challenges/f5453ad4-0526-465c-85f0-2f9a5a4a7983
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `f5453ad4-0526-465c-85f0-2f9a5a4a7983` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-16 09:29] seriyvolk83 commented on #43
Ref: https://docs.amplify.aws/cli/usage/headless#sample-script-3

[2021-02-16 19:32] seriyvolk83 commented on #43
@jmgasper It's almost done and script used to configure amplify on the fly works locally, but on AppCenter `amplify pull` asks for interactive verification in the web. I tried to understand why, but have no idea.

[code]

[2021-02-16 19:34] seriyvolk83 commented on #43
In general the added script `amplify_appcenter.sh` should work. I added ENV variables and it's executed before compilation when Xcode builds a target.

[2021-02-17 21:25] #38 closed

[2021-02-17 21:26] jmgasper commented on #38
Payment task has been updated: https://www.topcoder.com/challenges/92e6f70c-beff-4bf3-a8a7-4299cdb48030
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `92e6f70c-beff-4bf3-a8a7-4299cdb48030` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-17 22:28] jmgasper commented on #43
@seriyvolk83 - Testing locally, I'm now stuck at this screen - can't get past the passcode:

![Screen Shot 2021-02-18 at 9 27 30 am](https://user-images.githubusercontent.com/21790/108276228-95c5cc80-71cb-11eb-86aa-62df6ed1115e.png)

[2021-02-17 22:42] jmgasper opened #52 "[$600] Tie in credential acceptance"
@seriyvolk83 - One last thing we'd like to do is tie in the credential acceptance with the proper services, so that instead of mock data, we're getting the "real" data from our identity service:

Can you let me know what you need from me for this one please?

![Screen Shot 2021-02-18 at 9 35 53 am](https://user-images.githubusercontent.com/21790/108277468-89db0a00-71cd-11eb-94a2-12aaea649386.png)

[2021-02-17 22:42] jmgasper commented on #52
Challenge https://www.topcoder.com/challenges/0c50b072-6e2a-499e-8ea2-824299b1efc6 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-17 22:42] jmgasper commented on #52
Challenge https://www.topcoder.com/challenges/0c50b072-6e2a-499e-8ea2-824299b1efc6 has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-18 07:38] seriyvolk83 commented on #43
Seems you forgot the passcode =). Try to delete the app and install again to setup from scratch.

[2021-02-18 08:04] jmgasper commented on #43
@seriyvolk83 - No, this was always set up with my FaceID - no passcode required.

[2021-02-18 08:07] seriyvolk83 commented on #43
When Face ID fails, it asks passcode to login. When you setup the app for the first time it asks to setup passcode, then suggests to setup Face ID.

Check if Face ID is enabled in "Settings -> EvernymApp".

Also App ID changed a few times, may be it's "another" app now.

[2021-02-18 08:26] jmgasper commented on #43
@seriyvolk83 - Ok, I'll try that, thanks.  Seems like the latest tweaks to the script are working, ignoring my fumbling at attempting to fix the issue 😆 Thanks!

[2021-02-18 08:37] seriyvolk83 commented on #43
Actually, you probably was right about `configLevel`. You just put it into wrong constant `AMPLIFY` and forgot to add `\` at the end. I updated the following constant with all required fields (they were not required when launched locally) and it worked:
[code]

Also, there is a chance that I copied and pasted the command from web and there were hidden symbols which were destroying the command para

[2021-02-18 08:39] seriyvolk83 commented on #43
Please let me know what popup message the app from TestFlight shows ("Success / Amplify initialized" or "ERROR / Failed to initialize Amplify"). Once it's "Success", I will remove this popup.

[2021-02-18 21:17] jmgasper commented on #43
@seriyvolk83 - Yep, just validated it, thanks!  We can remove the popup

[2021-02-18 21:17] #43 closed

[2021-02-18 21:18] jmgasper commented on #43
Payment task has been updated: https://www.topcoder.com/challenges/a42f9004-6172-4c0b-999a-291e5c83da4b
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `a42f9004-6172-4c0b-999a-291e5c83da4b` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-19 14:15] seriyvolk83 commented on #52
I issued the following credentials:
[code]
and the library provides the following
[code]

Note that there is no `comment` field. So, we can show `credential_attrs` data only and use connection info for "Issued by".

[2021-02-19 15:56] seriyvolk83 commented on #52
After the changes the app will show first credentials offer when user opens "My Credentials". "Accept" button also works, you can check the state change using API calls (postman calls).

However, even after acceptance the credentials are returned in `credentialGetOffers`, and there are no fields revealing its state.

The only way (I found) to check state is to call `credentialGetState`:
[code]
but

[2021-02-20 02:07] jmgasper commented on #52
@seriyvolk83 - Thanks, this is good from a PoC standpoint.  We're working with Evernym to see if we can get push notifications set up on their end and tied into our API next week.

For the UI, can we just show the credentials like we should connections please?  That should be enough for now, I think.  We can work through the API issues and UI changes later.

![Screen Shot 2021-02-20 at 1 03 22 pm]

[2021-02-21 18:46] seriyvolk83 commented on #52
Done.

[2021-02-22 00:35] #52 closed

[2021-02-22 00:36] jmgasper commented on #52
Payment task has been updated: https://www.topcoder.com/challenges/0c50b072-6e2a-499e-8ea2-824299b1efc6
*Payments Complete*
Winner: seriyvolk83
Copilot: ghostar
Challenge `0c50b072-6e2a-499e-8ea2-824299b1efc6` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-25 00:08] jmgasper opened #57 "[$75] Integrate updated Evernym library"
@seriyvolk83 - Evernym has updated their library, and we'd like to integrate in our app to make sure it doesn't break anything.

Can you take a look please?  I'm hoping this is just a new build and update of the https://github.com/topcoder-platform/mobile-wallet repo.   If it's more complex, let me know and we'll adjust payment accordingly.

Update:

* https://github.com/topcoder-platform/mobile-s

[2021-05-25 00:08] jmgasper commented on #57
Challenge https://www.topcoder.com/challenges/39d40209-128d-42dd-a6b8-0757d58fe61b has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-25 00:08] jmgasper commented on #57
Challenge https://www.topcoder.com/challenges/39d40209-128d-42dd-a6b8-0757d58fe61b has been assigned to seriyvolk83.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-06 15:37] seriyvolk83 commented on #57
Please merge https://github.com/topcoder-platform/mobile-wallet/pull/2

Once done, this app may be updated with `pod install`. I tested using the example in mobile-wallet library and it worked. So, the app should also work fine with the updated vcx.

I saw a few changes in the Objective-C example in https://github.com/topcoder-platform/mobile-sdk, almost all of them are clean up and minor refactor

[2021-06-09 03:43] #57 closed